
  <mat-sidenav-container class="example-container" >

      <mat-sidenav #sidenav mode = "side" class="sidenav">
          <mat-toolbar>
              Settings
            </mat-toolbar>
          <button mat-button>Login/Signup</button><br>
          <button mat-button>Politics</button><br>
          <button mat-button>Culture & Lifestyle</button><br>
          <button mat-button>Entertainment</button><br>
          <button mat-button>Sports</button><br>
          <button mat-button>Food</button><br>
          <button mat-button>People</button><br>
          <button mat-button>Business & Economy</button><br>
          <button mat-button>Humour</button>
   </mat-sidenav>
   <mat-sidenav-content>
    <mat-toolbar class="toolbar">

      <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon class="example-icon">menu</mat-icon>
        </button>
        &nbsp;
            <span>Poll Birds</span>
            <span class="example-spacer"></span>
              <mat-form-field appearance = "Outline"class="searchbar">
                  <input type="search" matInput placeholder="Search">
                  <button mat-button matSuffix>
                    <mat-icon >search</mat-icon></button>
              </mat-form-field>
              <span class="example-spacer"></span>
              <button mat-button>
                <mat-icon>account_circle</mat-icon>
              </button>

      </mat-toolbar-row>
    </mat-toolbar>
   </mat-sidenav-content>
   </mat-sidenav-container>

